<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78368083192-mjifn8t9gm8n9g6c6baf94o2nsr8akri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78368083192-mjifn8t9gm8n9g6c6baf94o2nsr8akri</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ1ALz4TkDqILEvB6cRhga6QZfIJfM6M4</string>
	<key>GCM_SENDER_ID</key>
	<string>78368083192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adl.firebase-tutorial</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-e1cfb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-e1cfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78368083192:ios:4d837b91d7ef4a86f87f0d</string>
</dict>
</plist>